a.menu-218, ul.links li.menu-218 a {
  background-image: url(/en/sites/default/files/styles/menu_image_icon/public/menu_icons/menu_icon_218.png);
  padding-left:24px;
  background-repeat: no-repeat;
  background-position: left;
  height: 26px;
}

a.menu-433, ul.links li.menu-433 a {
  background-image: url(/en/sites/default/files/styles/menu_image_icon/public/menu_icons/menu_icon_433.png);
  padding-left:28px;
  background-repeat: no-repeat;
  background-position: left;
  height: 28px;
}

a.menu-435, ul.links li.menu-435 a {
  background-image: url(/en/sites/default/files/styles/menu_image_icon/public/menu_icons/menu_icon_435.png);
  padding-left:28px;
  background-repeat: no-repeat;
  background-position: left;
  height: 28px;
}

a.menu-438, ul.links li.menu-438 a {
  background-image: url(/en/sites/default/files/styles/menu_image_icon/public/menu_icons/menu_icon_438.gif);
  padding-left:31px;
  background-repeat: no-repeat;
  background-position: left;
  height: 28px;
}

a.menu-440, ul.links li.menu-440 a {
  background-image: url(/en/sites/default/files/styles/menu_image_icon/public/menu_icons/menu_icon_440.gif);
  padding-left:31px;
  background-repeat: no-repeat;
  background-position: left;
  height: 28px;
}

a.menu-442, ul.links li.menu-442 a {
  background-image: url(/en/sites/default/files/styles/menu_image_icon/public/menu_icons/menu_icon_442.png);
  padding-left:28px;
  background-repeat: no-repeat;
  background-position: left;
  height: 28px;
}

a.menu-443, ul.links li.menu-443 a {
  background-image: url(/en/sites/default/files/styles/menu_image_icon/public/menu_icons/menu_icon_443.gif);
  padding-left:32px;
  background-repeat: no-repeat;
  background-position: left;
  height: 28px;
}

a.menu-444, ul.links li.menu-444 a {
  background-image: url(/en/sites/default/files/styles/menu_image_icon/public/menu_icons/menu_icon_444.gif);
  padding-left:28px;
  background-repeat: no-repeat;
  background-position: left;
  height: 28px;
}

a.menu-623, ul.links li.menu-623 a {
  background-image: url(/en/sites/default/files/styles/menu_image_icon/public/menu_icons/menu_icon_623.gif);
  padding-left:31px;
  background-repeat: no-repeat;
  background-position: left;
  height: 28px;
}

